.article{
    border: solid;
    
}
.back{
    background-color: rgb(104,104, 246);
    border-radius: 30px;
    color: aliceblue;
    margin-right: 200px;
    margin-left: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.box-secondaire{
    background-color: rgb(104,104, 246);
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px; 
    color: aliceblue;

}
.title{
    display: flex;
    flex-direction: row;
    
}

#ajout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#commentaire1{
    background-color: #f6d368;
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    margin: 10px 50% 20px 50px;
}

#commentaire2{
    background-color: #f68c68;
    border-radius: 30px;
    width: 50%;
    display: flex;
    align-items: flex-end; 
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px 50px 20px 50%;
}

#droite{
    display: flex;
    justify-content: flex-end;
}

#gauche{
    display: flex;
    justify-content: flex-start;
}


#avis{
    background-color: #f6d368;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    justify-content: center;
    padding: 20px 20px;
    margin: 20px 20px;
}

#aime{
    margin-right: 20px;
}