.container{
  display: flex;
  flex-direction: row;
}

section{
  width: 45%;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
  margin:0 100px;
  border-radius: 5%;
  padding-left: 10px;

}

h2{
  color: #0081a7;
 }
 h3{
   color: #90e0ef;
 }
